[user]
  email = asari.mtr@gmail.com
  name = Asari Mitsuteru
[alias]
  oneline = log --oneline --decorate
  onelinenm = log --oneline --no-merges
  onelinep = log --decorate --first-parent --pretty=format:'%C(yellow)%h %C(cyan bold)%ad%Creset%Cgreen%d%Creset %s %C(cyan bold)%an%Creset' --date=format:'%Y/%m/%d %H:%M:%S'
  master = checkout master
  co = checkout
  cb = checkout -b
  pushr = push origin HEAD --set-upstream
  cm = commit -m
  s = status
  l = log --graph --pretty=format:'%C(yellow)%h%Cgreen%d%Creset %s %C(cyan bold)%an, %ar%Creset'
  la = log --all --graph --pretty=format:'%C(yellow)%h%Cgreen%d%Creset %s %C(cyan bold)%an, %ar%Creset'
  d = diff
  dc = diff --cached
  ap = add -p
  ri = rebase -i
  rc = rebase --continue
  ra = rebase --abort
  wip = commit --allow-empty -m
  f = fetch
  zip = archive --format=zip
  tags = tag -l
  branches = branch -a -v
  remotes = remote -v
  first = !git tag first `git rev-list HEAD | tail -n 1`
  last = 'log -1'
  fix = commit --fixup
  squash = rebase -i --autosquash
  ic = !git init && git add . && git commit -m 'init' && git oneline
  delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[merge]
  tool = vimdiff
[color]
  ui = auto
[core]
  editor = vi
	excludesfile = /Users/asari/.gitignore_global
[github]
  user = asari-mtr
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.4/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[rebase]
	autosquash = true
