[user]
  email = asari.mtr@gmail.com
  name = Asari Mitsuteru
[alias]
  oneline = log --oneline --decorate
  master = checkout master
  co = checkout
  cm = commit -m 
  s = status
  l = log --graph --pretty=format:'%C(yellow)%h%Cgreen%d%Creset %s %C(cyan bold)%an, %ar%Creset'
  la = log --all --graph --pretty=format:'%C(yellow)%h%Cgreen%d%Creset %s %C(cyan bold)%an, %ar%Creset'
  d = diff
  dc = diff --cached
  ap = add -p
  ri = rebase -i
  f = fetch
  zip = archive --format=zip
  tags = tag -l
  branches = branch -a -v
  remotes = remote -v
  first = !git tag first `git rev-list HEAD | tail -n 1`
  last = 'log -1'
[merge]
  tool = vimdiff
[color]
  ui = auto
[core]
  editor = vi
[github]
  user = asari-mtr
