[user]
  email = asari.mtr@gmail.com
  name = Asari Mitsuteru
[alias]
  oneline = log --oneline --decorate
  master = checkout master
  co = checkout
  l = log --graph --pretty=format:'%C(yellow)%h%Cgreen%d%Creset %s %C(cyan bold)%an, %ar%Creset'
  zip = archive --format=zip
[merge]
  tool = vimdiff
[color]
  ui = auto
[core]
  editor = vi
[github]
  user = asari-mtr
